<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="БаязитовГлазкиEntities" connectionString="metadata=res://*/BayazitovModel.csdl|res://*/BayazitovModel.ssdl|res://*/BayazitovModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=БаязитовГлазки;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>